<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"/>
    <link type="text/css" rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/todo.css"/>
</head>
<body>
<div id="contain-base">
    <div id="sidebar">
        <div id="toolbar-header">
            <div class="container">
                <a id="setting" class="icon" href="#" title="设置"><i class="fa fa-gear"></i></a>
                <i class="fa fa-at"></i>
                <span>Henry</span>
            </div>
        </div>
        <div id="toolbar-footer">
            <div class="container">
                <input id="add-group-name" type="text" placeholder="填入分组名称"/>
                &nbsp;
                <a id="add-group" class="icon" href="javascript:void(0);" title="添加分组"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div id="toolbar-scroll">
            <ul id="group-list">
                <script type="text/html" id="group-item">
                    {{each data as item i}}
                    <li {{if item._id == groupId}}class="active"{{/if}}>
                    <a href="javascript:void(0);" data-group-id="{{item._id}}">
                        {{if item._id == groupId}}
                        <i class="fa fa-folder-open-o"></i>
                        {{else}}
                        <i class="fa fa-folder-o"></i>
                        {{/if}}
                        {{item.Name}}</a>
                    </li>
                    {{/each}}
                </script>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="task-container">
            <div id="task-add-container">
                <input id="add-task-name" type="text" placeholder="添加任务"/>
            </div>
            <div id="task-toolbar-container">
                <a id="task-delete" href="javascript:void(0);"><span class="btn"><i class="fa fa-trash"></i></span></a>
                <a id="task-view" href="javascript:void(0);"><span class="btn"><i class="fa fa-eye"></i></span></a>
            </div>
            <div id="task-list-container">
                <ul id="task-list">
                    <script type="text/html" id="task-item">
                        {{each data as item i}}
                        <li {{if item.Finished}}class="finished"{{/if}}>
                        <input type="checkbox" data-item-id="{{item._id}}"
                        {{if item.Finished}}checked="checked"{{/if}}/>
                        <span>{{item.Name}}</span>
                        </li>
                        {{/each}}
                    </script>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/lib/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/lib/artTemplate/template.js"></script>
<script type="text/javascript" src="/javascripts/todo.js"></script>
</body>
</html>