<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"/>
    <link type="text/css" rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/todolist.css"/>
</head>
<body>
<div id="contain-base">
    <div id="sidebar">
        <div id="toolbar-header">
            <div class="container">
                <a id="setting" class="icon" href="#" title="设置"><i class="fa fa-gear"></i></a>
                <i class="fa fa-at"></i>
                <span>Henry</span>
            </div>
        </div>
        <div id="toolbar-footer">
            <div class="container">
                <input id="add-group-name" type="text" placeholder="填入分组名称"/>
                &nbsp;
                <a id="add-group" class="icon" href="#" title="添加分组"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div id="toolbar-scroll">
            <ul id="group-list">
                <li class="active">
                    <a href="#"><i class="fa fa-folder-open-o"></i> ABC</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-folder-o"></i> ABC</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-folder-o"></i> ABC</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-folder-o"></i> ABC</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-folder-o"></i> ABC</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="content">
        <div id="task-add-container">
            <input id="add-task-name" type="text" placeholder="添加任务"/>
        </div>
        <div id="task-list-container">
            <ul id="task-list">
                <li><label><input type="checkbox"/> ABC</label></li>
                <li><label><input type="checkbox"/> ABC</label></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>