html, body {
	height: 100%;
	background: #f9f9f9;
}

a {
	color: #a3a3a2;
	text-decoration: none;
}

a:hover {
	color: #737272;
}

.highlight {
	color: #1982d1;
}

#content-base {
}

#sidebar {
	background: #fcfcfc;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 270px;
	box-shadow: 1px 0 2px #777;
}

#toolbar-header {
	height: 37px;
	border-bottom: 1px solid #fcfcfc;
	box-shadow: 0 1px 2px #ccc;
	padding: 0 10px;
}

#toolbar-header .container {
	padding: 10px 0;
}

#toolbar-header .icon {
	float: right;
}

#toolbar-footer {
	height: 57px;
	border-top: 1px solid #fcfcfc;
	box-shadow: 0 -1px 2px #ccc;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
}

#toolbar-footer .container {
	padding: 10px 0;
	text-align: center;
}

#toolbar-footer #add-group-name {
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 10px;
}

#toolbar-footer #add-group {
	vertical-align: middle;
}

#toolbar-scroll {
	margin-top: 10px;
}

#group-list {
}

#group-list li {
	padding: 8px 10px;
	overflow: hidden;
	color: #a3a3a2;
}

#group-list li:hover, #group-list li:hover a {
	color: #000;
}

#group-list li.active, #group-list li.active a {
	background: #009ae4;
	color: #fff;
}

#group-list a {
	display: block;
}

#group-list .badge {
	float: right;
	font-weight: bold;
}

#content {
	position: absolute;
	left: 270px;
	right: 5px;
	top: 0;
	bottom: 0;
}

#task-container {
	padding: 0 20px 20px;
}

#task-add-container {
	margin-top: 20px;
	padding: 10px 14px 10px 10px;
	background: rgba(90, 90, 90, 0.95);
	border-radius: 4px;
}

#task-add-container #add-task-name {
	width: 100%;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	padding: 5px 0;
	background: none !important;
	border: none;
}

#task-toolbar-container {
	margin-top: 20px;
}

#task-toolbar-container .btn {
	font-size: 18px;
	border-radius: 4px;
	width: 46px;
	text-align: center;
	padding: 5px;
	display: inline-block;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.97), rgba(220, 220, 220, 0.97));
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

#task-list-container {
	margin-top: 10px;
}

#task-list li {
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.97), rgba(220, 220, 220, 0.97));
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	margin: 8px 0;
	padding: 10px;
	color: #737272;
	font-weight: bold;
	cursor: pointer;
}

#task-list li.finished {
	opacity: 0.6;
}

#task-list li.finished span {
	text-decoration: line-through;
}

#task-list li.selected {
	background-image: linear-gradient(to bottom, rgba(228, 239, 248, 0.97), rgba(207, 226, 242, 0.97));
}